asn1crypto==1.5.1
attrs==22.1.0
certifi==2022.9.24
charset-normalizer==2.1.1
distlib==0.3.9
exceptiongroup==1.0.1
filelock==3.17.0
idna==3.4
iniconfig==1.1.1
packaging==21.3
pbr==6.1.1
platformdirs==4.3.6
pluggy==1.0.0
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.9.0.post0
requests==2.28.1
scramp==1.4.5
setuptools==75.8.0
six==1.17.0
stevedore==5.4.0
tomli==2.0.1
urllib3==1.26.12
virtualenv==20.29.1
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.1
